/* eeeeeeeeet c'est parti ! */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    font-size: 14px;
    height: 100vh;
    display: flex;
}

/* sm 576
md 768 */

#side {
    background-color: #E2001A;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#topSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    padding-top: 10vh;
}

#imgUser {
    filter: brightness(0) invert(1);
    width: 3vw;
    height: 5vh;
    margin: 4vh;
}

.span1 {
    font-size: 1.0rem;
    margin: 4vh;
}

.image {
    filter: brightness(0) invert(1);
    margin: 4vh;
}

.span2 {
    padding-bottom: 40px;
}

.formButton {
    padding-top: 5vh;
    text-align: end;        
}

@media screen and (max-width: 576px) {
    #imgUser {
        width: 10vw;
        filter: brightness(0) invert(1);
    }
    .span1 {
        font-size: 0.6rem;
    }
    .span2 {
        margin-bottom: 10px;       
    }
    .form {
        font-size: 1.0rem;
    }

    .formButton {
        padding-top: 5vh;
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    #imgUser {
        width: 8vw;
        filter: brightness(0) invert(1);
    }
    .image {
        width: 3vh;
    }
    .span1 {
        font-size: 1.2rem;
    }
    .span2 {
        font-size: 1.2rem;
        margin-bottom: 20px;       
    }
    .form {
        font-size: 1.2rem;
    }

    .formButton {
        padding-top: 5vh;
        text-align: end;
    }
}

#botSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 20px;*/
}

.main {
    padding: 3vw;
    background-color: rgb(255, 255, 255);
    flex: 9;
    display: flex;
}

@media screen and (max-width: 576px) {
    .main {
        flex: unset;
        width: 85%;
        justify-content: space-between;
    }

    #side {
        flex: unset;
        width: 15%;
        height: 100%;
    }
}

.wrapper {
    background-color: white;
    height: 660px;
    width: 993px;
    border-radius: 16px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.333);
}

@media screen and (max-width: 576px) {
    .wrapper {
        width: unset;
        height: 100%;
        padding-left: unset;
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }
}

.topLine {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    margin-left: 10%;
    margin-right: 10%;
}

h4 {
    font-size: 24px;
    padding-top: 10%;
    padding-bottom: 10%;
}

#hidedDesktopDiv {
    display: none;
}

.image {
    filter: brightness(0) invert(1);
}

.formulaire {
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
}

.form>ul {
    padding: 2vh;
}

@media screen and (max-width: 576px) {
    .formulaire {
        flex-direction: column;
        align-items: unset;
        padding-top: unset;
        height: 90vh;
    }

    .form {
        display: flex;
        justify-content: unset;
        flex-direction: column;
    }

    label {
        display: block;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 3%;
        gap: 2vh;
    }

    .formButton {
        padding-top: 5vh;
        text-align: center;
    }
}

input {
    margin-left: 540px;
    margin-bottom: 24px;
    margin-right: 48px;
    border-radius: 5px;
}

label {
    padding-left: 48px;
}

select {
    margin-bottom: 24px;
    margin-right: 48px;
    width: 24px;
    border-radius: 5px;

}

.button {
    height: 36px;
    width: 100px;
    background-color: #E2001A;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.332);
    font-size: 14px;
    color: white;
    border-radius: 5px;
    border: none;
}

.form2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    padding-right: 5vw;
}

@media screen and (max-width: 576px) {
    input {
        margin-left: unset;
        margin-bottom: unset;
        margin-right: unset;
        border-radius: unset;
    }

    label {
        padding-left: unset;
    }

    select {
        display: block;
        margin-bottom: unset;
        margin-right: unset;
        width: unset;
        border-radius: unset;
    }

    .form2 {
        margin-top:10%;
        height: 25%;
        justify-content: center;
        padding-right: 0vw;
    }
}

.imageBlack {
    filter: none;
}

.parameter {
    align-self: flex-start;
}


span {
    color: white;
}

.span2 {
    padding-bottom: 40px;
}

.imageHome {
    width: 3vw;
    padding-bottom: 3%;
}

a {
    text-decoration: none;
    color: inherit;
}

.buttonReturn {
    height: 36px;
    width: 100px;
    background-color: #E2001A;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.332);
    font-size: 14px;
    color: white;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 992px) {
    input {
        box-sizing: border-box;
        border: 0px solid black;
        border-bottom: 1px solid black;
    }

    .imageBlack {
        padding: unset;
        width: 7vw;
    }

    h4 {
        padding-left: unset;
    }

    .topLine {
        padding: 2%;
    }

    .image {
        filter: invert(96%) sepia(4%) saturate(0%) hue-rotate(315deg) brightness(103%) contrast(108%);
        padding: 0;
    }

    #botSide {
        height: 50%;
        padding: unset;
        justify-content: flex-end;
    }

    .span2 {
        padding: unset;
        padding-bottom: 2vh;
    }

    #topSide {
        padding: unset;
        height: 50%;
        justify-content: space-evenly;
    }

    .imageBlack {
        filter: invert(0%) sepia(21%) saturate(2835%) hue-rotate(340deg) brightness(87%) contrast(108%);
        display: none;
    }

    #hidedDesktopDiv {
        display: flex;
        width: 100%;
        filter: invert(96%) sepia(4%) saturate(0%) hue-rotate(315deg) brightness(103%) contrast(108%);
        padding-bottom: 2vh;
        justify-content: space-evenly;
    }

    .imageHome {
        width: 8vw;
    }

    .mobileImg {
        width: 4vw;
    }

    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        max-width: 100vw;
        overflow: hidden;
    }

    .topLine {
        margin-bottom: 4vh;
    }

    #side {
        height: 100%;
        width: 15%;
    }

    #topSide {
        padding-top: 2vh;
    }

    #botSide {
        padding: 0;
        position: relative;
        top: 30vh;
    }

    #hidedDesktopDiv {
        display: flex;
        width: 100%;
        filter: invert(96%) sepia(4%) saturate(0%) hue-rotate(315deg) brightness(103%) contrast(108%);
        padding-bottom: 2vh;
        justify-content: space-evenly;
    }

    .mobileImg {
        width: 2vw;
    }

    .main {
        padding: 0;
        height: 100%;
        width: 85%;
    }

    .wrapper {
        padding: 0;
        height: 90%;
        width: 90%;
    }

    .formulaire {
        padding: 0;
        height: 80%;
        width: 100%;
        gap: 2vh;
    }

    label {
        display: block;
        padding: 0;
    }

    input {
        margin: 0;
        width: 40%;
    }

    select {
        display: block;
        width: 40%;
        margin: 0;
    }

    .wrapper {
        box-shadow: none;
    }

    .imageBlack {
        display: none;
    }

    input {
        border-radius: unset;
        box-sizing: border-box;
        border: 0px solid black;
        border-bottom: 1px solid black;
    }
}