* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}
#fixBtn {
    display: flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.titlePage {
    height: auto;
    background-image: url(../img/Image_manu/Manu_campus.jpg);
    background-position: 50% 50%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbtn {
    display: flex;
    gap: 2rem;
    flex: 2;
    justify-content: center;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.navimg {
    /* flex: 0.5; */
    margin-left: 2rem;
}

.navexpo {
    flex: 0.5;
    margin-right: 2rem;
    text-align: end;
}

.butonexpo {
    color: #E2001A;
    border: none;
    border-radius: 10px;
    height: 36px;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
}

.navimg img {
    height: 70px;
    width: 80px;
}

h5 {
    color: white;
    font-size: 24px;
    margin-left: 44px;
    margin-right: 117px;
}

#subtitle {
    font-size: 14px;
    color: white;
    margin-left: 44px;
    margin-right: 117px;
    margin-top: -30px;
}

.mainInscription {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.mainBox {
    display: flex;
    height: 620px;

}

.redBox {
    display: flex;
    background-color: #E2001A;
    width: 500px;
    border-radius: 10px;
    padding-left: 30px;
    flex-direction: column;
}

.redBox img {
    filter: brightness(0) invert(1)
}

.whiteBox {
    width: 620px;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.434);
    border-radius: 16px;
}


.iconListInscription img {
    height: 20px;
    width: 20px;
    border-radius: 16px;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    margin-top: 79px;
    color: white;
}

.coordonnees p {
    font-size: 14px;
    margin-top: 30px;
}

.first {
    display: flex;
    position: relative;
    left: 44px;
}

.second {
    display: flex;
    position: relative;
    left: 44px;
}

.third {
    display: flex;
    position: relative;
    left: 44px;
}

.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 50%;
}

.icon img {
    height: 24px;
    width: 24px;
}

.information {
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
}

.zoneform {
    flex: 40%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 20px;
}

.files {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.buttonfiles {
    height: 36px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
    max-width: 30%;
}

.smoothScroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

}

.navbtn {
    display: flex;
    gap: 2rem;
    flex: 2;
    justify-content: center;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.navimg {
    flex: 0.5;
    margin-left: 2rem;
}

.navexpo {
    flex: 0.5;
    margin-right: 2rem;
    text-align: end;
}


.navimg img {
    height: 70px;
    width: 80px;
}

.titlePage {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    border: solid 3px;
    border-radius: 10px;
    border-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.349);
}

.title h1 {
    font-size: 60px;
    font-family: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
    margin-top: 0px;
}

.title div {
    font-size: 48px;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 0px;
}

.flex {
    display: flex;
    margin-top: 50px;
    font-size: 14px;
    gap: 6rem;
}

#buttonInfos {
    background-color: rgba(0, 0, 0, 0.158);
    color: white;
    border: solid 1px;
    border-color: white;
    border-radius: 10px;
    height: 36px;
    width: 120px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
    margin-left: 5vh;

}

#buttonInscription {
    background-color: #E2001A;
    border-radius: 10px;
    color: white;
    height: 36px;
    width: 120px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
    border: none;
    margin-right: 5vh;
}

/* fin de l'espace page principale  */

.infoPrat {
    display: flex;
    justify-content: space-between;
}

.iconInfoPrat {
    padding: 1.5rem;
    margin: 0px;

}

.iconInfoPrat img {
    height: 36px;
    width: 36px;

}

.infoPratTxt {
    flex: 75vw;
    padding-left: 4rem;
    font-size: 14px;
}

.listInfo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    font-size: 14px;
}

.iconListInfo {
    flex: 15vw;
    margin-top: 1rem;
    display: flex;
}

.iconListInfo img {
    height: 20px;
    width: 20px;
    position: relative;
    left: 75%;
}

.txtListInfo {
    flex: 75vw;
}

.txtListInfo h3 {
    color: #E2001A;
    margin-top: 1rem;
}

/* fin de la page info début de la page contact */

.mapsContact {
    height: 80vh;
    background: rgb(49, 49, 49);
    background: linear-gradient(180deg, rgba(49, 49, 49, 1) 0%, rgba(146, 0, 0, 1) 0%, rgba(254, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 30%);
    padding-top: 1rem;
}

.titleAcces img {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    filter: brightness(0) invert(1);
}

.titleAcces h3 {
    margin-top: 0px;
}


#picsLaManu {
    position: relative;
    border-radius: 10px;
    height: unset;
    width: 100%;
    filter: unset;
    bottom: 22.5%;
}

.titleContact {
    height: 100%;
    padding-left: 2vw;
}

.titleContact img {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    filter: brightness(0) invert(1);
}

.titleContact h3 {
    margin-top: 0px;
    color: white;
}

.titleContact iframe {
    height: 80%;
}

.upPage img {
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}

.mapsManu {
    flex: 25vw;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 450px;
    padding: 3rem;
    position: relative;
    right: 2%;
    bottom: 5%;
    max-width: 450px;
}

.mapsManu img {
    width: 450px;
    border-radius: 30px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
    position: relative;
    bottom: 10%;
}

.mapsManu iframe {
    border-radius: 30px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
}

.formContact {
    display: flex;
    top: 1%;
}



@media screen and (min-width:576px) {
    .titleForm {
        display: flex;
        height: 100%;
        background-color: #E2001A;
        color: white;
        border-radius: 30px;
        box-shadow: 3px 3px 6px rgb(0 0 0 / 33%);
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-expand-sm .navbar-collapse {
        justify-content: space-between;
        padding-right: 1%;
    }
    .navbar-nav {
        flex:2;
        justify-content: center;
    }
}

.titre {
    text-align: center;
    padding-top: 15px;
    align-items: center;
    font-size: 24px;
}

.formInfo {
    padding-left: 2rem;
    font-size: 14px;
}

.formInfo img {
    height: 24px;
    width: 24px;
    filter: brightness(0) invert(1);
}

.void {
    flex: 2;
}

.formMedia img {
    height: 30px;
    width: 30px;
    filter: brightness(0) invert(1);
}

.formMedia {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.trueForm {
    font-size: 14px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.333);
    height: 83%;
    /* height:auto; */
}

.infoBase {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-evenly;
}

.infoBaseButton {
    border: none;
}

.textFormInput {
    flex: 45%;
}

.formRadio {
    flex: 1;
    border: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titreRadio {
    flex: 100%;
    margin: 0px;
}

.finalMessage {
    flex: 1;
    border: none;
}

.textZone {
    border-top: none;
    border-left: none;
    border-right: none;

}

.Envoyerbtn {
    background-color: #E2001A;
    width: 150px;
    border: none;
    height: 36px;
    border-radius: 10px;
    color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.466);
}


#side {
    background-color: #E2001A;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#topSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

#botSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}

.main {
    background-color: rgb(255, 255, 255);
    /* flex: 9; */
    /* display: flex; */
}

.wrapper {
    background-color: white;
    height: 660px;
    width: 993px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.333);
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image {
    filter: brightness(0) invert(1);
    padding: 48px;
}

.form2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;

}

.imageBlack {
    filter: none;
}

.parameter {
    align-self: flex-start;
}

span {
    color: white;
}

.span2 {
    padding-bottom: 40px;
}

.imageHome {
    padding-bottom: 5px;
}

.buttonReturn {
    height: 36px;
    width: 100px;
    background-color: #E2001A;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.332);
    font-size: 14px;
    color: white;
    border-radius: 5px;
    border: none;
}

.infoButton {
    align-self: flex-start;
}

.buttonReturn2 {
    align-self: flex-end;
    margin-right: 48px;
}

p {
    padding-right: 48px;
    font-size: 14px;
}

ul {
    padding-right: 48px;
    margin-top: -30px;

}

.imgManu {
    width: 50vh;
}

.butonexpo {
    color: #E2001A;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.333);
    /*height: auto;*/
}

.collapse {
    align-items: right !important;
}

.navbar-collapse {
    align-items: right !important;
}

#buttonDisplaySm {
    /* display: inline-block; */
    /* position: relative; */
    /* right: -27vw; */
}

#buttonDisplayLg {
    display: none;
}

.nav-link {
    padding-top: 3vh !important;
}

/* Partie du footer Stef */

@media screen and (max-width:992px) {
    .logoFooter {
        height: 8vh;
    }

    .txtFooter {
        font-size: 0.9rem;
        white-space: normal;
    }

    .txtFootstart {
        padding-bottom: 2vh;
    }

    .txtFootMiddle {
        padding-bottom: 2vh;
    }

    .txtFootEnd {
        padding-bottom: 1vh;
    }

    .txtFootRight {
        text-align: right;
        padding-top: 0.5vh;
    }
    #buttonDisplaySm {
        /* right: -13vw; */
        /* padding-bottom:10px; */
    }
}

@media screen and (max-width:576px) {
    #buttonDisplaySm {
        right: -58vw;
        padding-bottom: 10px;
    }

    .txtFooter {
        font-size: 0.7rem;
        white-space: normal;
    }  
}


@media screen and (min-width:992px) {
    footer {
        /* background-color: #E2001A; */
        padding-bottom: 5vh;
    }

    .logoFooter {
        height: 12vh;
        /* padding-bottom: 2vh; */
    }

    .txtFooter {
        font-size: 0.7rem;
        white-space: nowrap;
    }

    .txtFootstart {
        text-align: start;
        padding-left: 5vh;
    }

    .txtFootEnd {
        text-align: end;
        align-items: flex-end;
    }

    .txtFootRight {
        text-align: normal;
    }

    .txtFootEnd {
        align-items: flex-end;
    }

    #buttonDisplaySm {
        /* right: -19.5vw; */
    }
}

@media screen and (min-width: 577px) and (max-width: 1181px) {
    .titleContact>iframe {
        height: 82%;
    }

    #picsLaManu {
        bottom: 20.5%;
    }
}

@media screen and (min-width: 819px) and (min-height: 1179px) {
    #picsLaManu {
        bottom: 9%;
    }
}

@media screen and (max-width:576px) {
    .titleForm {
        display: flex;
        height: 25vh;
        background-color: #E2001A;
        color: white;
        border-radius: 30px;
        box-shadow: 3px 3px 6px rgb(0 0 0 / 33%);
        flex-direction: column;
        justify-content: space-between;
    }

    main {
        height: 425vh;
    }

    .trueForm {
        height: 100vh;
    }

    .infoBase {
        height: 60%;
    }

    .formInfo>a {
        display: flex;
        text-decoration: none;
    }

    .iconInfoPrat {
        position: absolute;
        left: 75%;
    }
}