.titlePage {
    height: 90vh;
    background-image: url(/assests/img/Image_manu/Manu_campus.jpg);
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
}

.butonexpo {
    color: #E2001A;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.333);

}

.collapse{
    align-items: right !important;
}

.navbar-collapse{
    align-items: right !important;
}

#buttonDisplaySm {
    display: inline-block;
}

#buttonDisplayLg {
    display: none;
}

.nav-link {
    padding-top: 3vh !important;
}

@media screen and (min-width:576px) {
    #buttonDisplaySm {
        display: none;
    }
    #buttonDisplayLg {
        display: inline-block;
    }   
}

.title{
    border: solid 3px;
    border-radius: 10px;
    border-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    }

.title h1{
    font-size: 60px;
    font-family: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
    margin-top: 0px;
}

.title div{
    font-size: 48px;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 0px;
}

.flex{
    display: flex;
    margin-top: 50px;
    font-size: 14px;
    gap: 6rem;
    
}

#buttonInfos{
    background-color: rgba(0, 0, 0, 0.158);
    color: white;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

#buttonInscription{
    background-color: #E2001A;
    border-radius: 8px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
    color: white;
    font-size: 24px;
    margin: 0;
}

p {
    color: white;
    font-size: 14px;
}

#box {
    display: flex;
    padding-top: 148px;
}

.mainBox {
    background-color: #E2001A;
    border-radius: 16px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.27);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
} 

.logoManu {
    height: 20vh;
    width: 20vh;
}

.alignConnection {
    text-align: center;
}

.alignLogo {
    text-align: center;    
}

.alignConnection h4 {
    font-size: 1.0rem;
    white-space: normal;
}

@media screen and (min-width:576px) {
    .mainBox {
        height: 80vh;
    }
    .logoManu {
        height: 30vh;
        width: 30vh;        
    }
    .alignConnection {
        text-align: center;
    }
    .alignConnection h4 {
        font-size: 1.5rem;
        white-space: nowrap;
    }
}

@media screen and (min-width:992px) {
        .mainBox {
            width: auto;
            height: 80vh;
        }
        .alignConnection {
            text-align: start;
        }
}

@media screen and (min-width:1200px) {
    .mainBox {
        width: 80vw;
        height: 80vh;
    }
}

@media screen and (min-width:1400px) {
    .logoManu {
        height: 40vh;
        width: 40vh;        
    }
}

.button1 {
    background-color: black;
    height: 36px;
    width: 206px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 38px;
    margin-left: 0;    
}

.champ {
    height: 36px;
    width: 206px;
    border-radius: 5px;
    border: none;
    margin-top: 38px;
}

img {
    border-radius: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}