/* Initialization of HTML */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

/* Navbar of Header */

.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 0 0 15px 15px;
}

.btn {
    border: none !important;
}

.btn:hover {
    border: none !important;
}

.offcanvas-body {
    overflow-x: hidden !important;
}

.offcanvas-end {
    width: 250px !important;
    height: 255px;
    border-radius: 0px 0px 0px 20px;
}

.closeCanvas {
    position: absolute;
    background: none;
    top: 220px;
    right: 215px;
    border: 0;
}

.closeButton {
    width: 1.8rem;
    height: 1.8rem;
}

.nav-link {
    display: none;
}

.nav-link:hover {
    font-weight: bolder;
    zoom: 1.2;
}

/* Main Content */

/* Resume */

main{
    margin-top: 4.0rem;
}

.pictureContainer {
    height: 300px;
}

.rhombus {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profilePicture {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
}

/* Personnal Information Section */

.myInfo {
    width: fit-content;
}

.colWidth {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

ul {
    padding: 0;
}

li {
	margin: 0;
	padding: 5px 0 5px 25px;
	list-style: none;
	background-image: url("../img/ico/terminal.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}

.langFr {
	background-image: url("../img/ico/fr.png") !important;
}

.langEng {
	background-image: url("../img/ico/eng.png") !important;
}

/* Skills Section */

.accordion-button {
    color: #FFC107 !important;
}

.accordion-button::after {
    filter: invert(75%) sepia(36%) saturate(1114%) hue-rotate(350deg) brightness(101%) contrast(106%);
}

.skillLogo {
    height: 40px;
    width: 40px;
}

span img {
    height: 20px;
    width: 20px;
}

/* Studies and Jobs Sections */

.cardStudies, .cardJobs {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFC107;
    border-radius: 5px;
    padding: 10px;
}

li li {
	background-image: url("../img/ico/balise.png");
}

li li:last-of-type {
    margin-bottom: 10px;
}

li h5~p {
    margin: 0;
}

/* Hobbies Section */

.hobbiesContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#hobbies li {
    background-image: none;
    padding-left: 0;
}

#hobbies li img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

/* Portfolio Section */






























/* Footer */

.myFooter {
    height: 60px;
    font-size: 0.8rem;
    border-radius: 15px 15px 0 0;
}

.sociaLogo{
    width: 120%;
    height: 120%;
}