/* Initialization of HTML */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.anchor {
    scroll-margin-top: 80px;
}

/* Navbar of Header */

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
}

.btn {
    border: none !important;
}

.btn:hover {
    border: none !important;
}

.offcanvas-body {
    overflow-x: hidden !important;
}

.offcanvas-end {
    width: 250px !important;
    height: 255px;
    border-radius: 0px 0px 0px 20px;
}

.closeCanvas {
    position: absolute;
    background: none;
    top: 220px;
    right: 215px;
    border: 0;
}

.closeButton {
    width: 1.8rem;
    height: 1.8rem;
}

.nav-link {
    display: none;
}

.nav-link:hover {
    font-weight: bolder;
    zoom: 1.2;
}

/* Main Content */

/* Resume */

main {
    margin-top: 4.0rem;
}

.pictureContainer {
    height: 300px;
}

.rhombus {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profilePicture {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
}

/* Personnal Information Section */

.myInfo {
    width: fit-content;
}

.colWidth {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

ul {
    padding: 0;
}

li {
    margin: 0;
    padding: 5px 0 5px 25px;
    list-style: none;
    background-image: url("../img/ico/terminal.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.langFr {
    background-image: url("../img/ico/fr.png") !important;
}

.langEng {
    background-image: url("../img/ico/eng.png") !important;
}

/* Skills Section */


.accordionContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-body {
    padding: 15px !important
}

.accordion-button {
    color: #FFC107 !important;
}

.accordion-button::after {
    filter: invert(75%) sepia(36%) saturate(1114%) hue-rotate(350deg) brightness(101%) contrast(106%);
}

.skillLogo {
    height: 40px;
    width: 40px;
}

span img {
    height: 20px;
    width: 20px;
}

/* Studies and Jobs Sections */

.cardStudies,
.cardJobs {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

li li {
    background-image: url("../img/ico/balise.png");
}

li li:last-of-type {
    margin-bottom: 10px;
}

li h5~p {
    margin: 0;
}

#studies li, #jobs li {
    margin-bottom: 20px;
    padding: 0px 0px 5px 25px;
    background-position: left 0%;
}

/* Hobbies Section */

.hobbiesContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#hobbies li {
    background-image: none;
    padding-left: 0;
}

#hobbies li img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#hobbies {
    transform: translateX(500px);
    transform: translateZ(0);
    overflow-x: hidden;
}

/* Portfolio Section */

.portfolioTitle,
.portfolioContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.portfolioTitle button {
    border: 0 !important;
}

.portfolioContainer {
    height: 300px;
}

.imgArrow {
    width: 30px;
    height: 30px;
    filter: invert(75%) sepia(36%) saturate(1114%) hue-rotate(350deg) brightness(101%) contrast(106%);
}

.portfolioContainer img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: contain;
    object-position: center center;
}

/* Footer */

.myFooter {
    height: 60px;
    font-size: 0.7rem;
    border-radius: 15px 15px 0 0;
}

.sociaLogo {
    width: 100%;
    height: 100%;
}

/* Animation of Skills, Studies and Jobs */

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation of Hobbies */

