/* Initialization of HTML */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif !important;
}

/* Navbar of Header */

main{
    margin-top: 4.0rem;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 0 0 15px 15px;
}

.btn {
    border: none !important;
}

.btn:hover {
    border: none !important;
}

.offcanvas-end {
    width: 250px !important;
    height: 220px;
    border-radius: 0px 0px 0px 20px;
}

.closeCanvas {
    position: absolute;
    background: none;
    top: 185px;
    right: 215px;
    border: 0;
}

.closeButton {
    width: 1.8rem;
    height: 1.8rem;
}

.nav-link {
    display: none;
}

.nav-link:hover {
    font-weight: bolder;
    zoom: 1.2;
}

/* Main Content */

/* Resume */

.allInformations {
    height: 300px;
}

.rhombus {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profilePicture {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
}

/* Personnal Info Container */

.infoContainer {
    /*height: 300px;*/
    border-radius: 10px;
    margin-bottom: 50px;

}

.myInfo {
    width: fit-content;
    /*white-space: nowrap;*/
}

ul {
    padding: 0;
}

li {
	margin: 0;
	padding: 5px 0 5px 25px;
	list-style: none;
	background-image: url("../img/ico/balise.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}


























/* Footer */

.myFooter {
    height: 60px;
    font-size: 0.8rem;
    border-radius: 15px 15px 0 0;
}

.sociaLogo{
    width: 120%;
    height: 120%;
}