*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

/* Partie Header */

.NavLogo {
    height: 50px;
    size: 50px;
}

.h1 {
    font-size: 1.0rem;
}

.pictAlignement {
    text-align: center;
}

.profilePict{
    width: 30%;
}

.titleProfile {
    font-size: 1.2rem;
}

.containerBanner {
    margin-top: auto;
    padding-top: 65px;
    justify-content: left;
}

.twoColTitle {
    display: none;
}

.oneColTitle {
    display: block;
}

.textBanner {
    font-size: 0.8rem;
}

/*@media (min-width: 576px) {
}*/

@media (min-width: 768px) {
    .titleProfile {
        font-size: 1.5rem;
    }
    .pictAlignement {
        text-align: right;
    }
    .textBanner {
        font-size: 1.2rem;
    } 
    .twoColTitle {
        display: block;
    }
    .oneColTitle {
        display: none;
    }
}

@media (min-width: 992px) {
    .titleProfile {
        font-size: 2.0rem;
    }
    .textBanner {
        font-size: 1.2rem;
    }    
}

@media (min-width: 1200px) {
    .titleProfile {
        font-size: 2.5rem;
    }
    .profilePict{
        width: 18vh;
        height: 18vh;
    } 
}

/* Partie Main */

main {
    background-image: url("../img/wallpaper/mywalpaper.jpg"); 
    /* background-size: 100% 100%; */
    background-size: cover;
}

ul {
    list-style-type: none; 
}

/*content: '\1F4BB'; computer*/

    /* Sous partie avec les émojis */
    /* Mes informations */
    ul#personnalInfo li:nth-child(1):before{ 
        content: '\1F382';
    } 

    ul#personnalInfo li:nth-child(2):before{ 
        content: '\1F3E0';
    } 

    ul#personnalInfo li:nth-child(3):before{ 
        content: '\1F4F1';
    } 

    ul#personnalInfo li:nth-child(4):before{ 
        content: '\1F697';
    } 

    /* Langues parlées */    
    ul#languageInfo li:nth-child(1):before{ 
        content: '\1F956';
    } 
    
    ul#languageInfo li:nth-child(2):before{ 
        content: '\1F375';
    } 

.MyCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px black;
    height: auto;
}

.card-img-top {
    height: 35px;
}

.card-title {
    margin-bottom: 0rem !important;
}

a {
    text-decoration: none;
}

.fontsizeProgressBar {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 1.0rem;
    color: white;
}

.progress {
    background-color: rgb(131, 131, 131);
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 25px;
}

.iconeCompt{
    width: 4vh;
    height: 4vh;
}

li#securedNumber span#falseNumber {
    display: inline;
}

li#securedNumber:hover span#falseNumber {
    display: none;
}

li#securedNumber span#trueNumber {
    display: none;
}

li#securedNumber:hover span#trueNumber {
    display: inline;
}

@media (min-width: 1400px) {
    main {
        background-size: 100% 100%;
    }
} 

/* Partie Carousel */

.carousel-control-next-icon,
.carousel-control-prev-icon,
div.carousel-indicators button {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

.carousel-indicators {
    margin-bottom: 0rem;
}

.carousel-indicators [data-bs-target] {
    width: 30px;
    height: 3px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.carouselContent {
    height: 50vh;
}

.carouselCard {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: auto;
}

.PortFolioPicture {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

/*@media (min-width: 576px) {
}*/

@media (min-width: 768px) {
    .carouselCard {
        flex-direction: row;
        height: 50vh;
        width: auto;
    }
    .PortFolioPicture {
        height: 50vh;
        width: 40vw;
        object-fit: cover;
        border-radius: 5px 5px 0px 0px;
    }
}

/*@media (min-width: 992px) {
}*/

@media (min-width: 1200px) {
    .carouselCard {
        height: 50vh;
        width: auto;
    }
    .PortFolioPicture {
        height: 50vh;
        width: 40vw;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon,
    div.carousel-indicators button {
        width: 4rem;
        height: 4rem;
    }
    .carousel-indicators [data-bs-target] {
        width: 50px;
        height: 5px;
    }
}

/*@media (min-width: 1400px) {
} */

/* Partie Footer */

.containerFullSocial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.containSocial {
    display: flex;
    flex-direction: column;
}

.socialNetworkLogo{
    width: 5vh;
    height: 5vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.socialNetworkText{
    display: none;
    white-space: nowrap;
}


@media (min-width: 576px) {
    .socialNetworkText {
        font-size: 1.0rem;
    }
}

@media (min-width: 768px) {
    .socialNetworkText {
        font-size: 1.0rem;
    }
}

@media (min-width: 992px) {
    .socialNetworkText {
        font-size: 1.2rem;
        display: contents;
    }
    .containSocial {
        flex-direction: row;
        margin-left: 5vh;
        margin-right: 5vh;
    }
}

/* Partie de la signature */

.containerSign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.myLogo {
    height: 6vh;
    width: 6vh;
}

.myAlias {
    font-size: 0.8rem;
    white-space: nowrap;
}