*{
    font-family: 'Roboto', sans-serif !important;
}

/* Partie Header */

.NavLogo {
    height: 50px;
    size: 50px;
}

.h1 {
    font-size: 1.0rem;
}

.mywallpaper{
    height: 40vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePict{
    width: 15vh;
    height: 15vh;
}

.titleProfile {
    font-size: 1.5rem;
}

.colPictProfileResp {
    text-align: center;
}
.colTextProfileResp {
    margin-top: 15rem;
    text-align: center;
}

.textBanner {
    font-size: 0.8rem;
    height: 20vh;
}

@media (min-width: 576px) {
    .mywallpaper{
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .colPictProfileResp {
        margin-top: 4rem;
        margin-left: 5%;    
    }
    .colTextProfileResp {
        margin-top: 5rem;
        margin-left: 35%;
    }
    .titleProfile {
        font-size: 2.0rem;
    }
    .textBanner {
        font-size: 1.2rem;
    }    
}

@media (min-width: 992px) {
    .colPictProfileResp {
        margin-bottom: 0%;
        margin-left: 5%;      
    }
    .colTextProfileResp {
        margin-left: 40%;
        text-align: start;
    }
    .titleProfile {
        font-size: 2.5rem;
    }
    .textBanner {
        font-size: 1.4rem;
    }    
}

@media (min-width: 1200px) {
    .colPictProfileResp {
        margin-left: 30%;        
        text-align: start;
    }
    .colTextProfileResp {
        margin-top: 5rem;
        margin-left: 45%;
        text-align: start;
    }
    .titleProfile {
        font-size: 3.0rem;
    }
    .profilePict{
        width: 20vh;
        height: 20vh;
    }  
}

/* Partie Main */

.MyCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px black;
}

.card-img-top {
    height: 35px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.card-title {
    margin-bottom: 0rem !important;
}

@media (min-width: 768px) {
    .myPersoCards {
        height: 35vh;
    }
    .myCompCards {
        height: 38vh;
    }   
}

@media (min-width: 1200px) {
    .myPersoCards {
        height: 35vh;
    }  
    .myLgCards {
        height: 77vh;
    }    
}

@media (min-width: 1400px) {
    .myPersoCards {
        height: 35vh;
    }
    .myLgCards {
        height: 72vh;
    }    
}

a {
    text-decoration: none;
}

.myprogbar {
    border: 1px solid;
}

.iconeCompt{
    width: 4vh;
    height: 4vh;
}

li#securedNumber span#falseNumber {
    display: inline;
}

li#securedNumber:hover span#falseNumber {
    display: none;
}

li#securedNumber span#trueNumber {
    display: none;
}

li#securedNumber:hover span#trueNumber {
    display: inline;
}

/* Partie Portfolio */

.BackofForm {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    z-index: auto;
}  

.MyPortFolioContener {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.MyPortfolioCard {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.PortFolioPicture {
    width: 100%;
    height: 45vw;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

@media (min-width: 576px) {
    .MyPortfolioCard {
        flex-direction: row; 
        flex-wrap: nowrap;
        width: 60vw;
        height: 40vh;
        padding: 0;
    }
    .PortFolioPicture {
        width: 30vw;
        height: 40vh;
        border-radius: 5px 0px 0px 5px;
    }
}

@media (min-width: 768px) {
    .MyPortfolioCard {
        width: 70vw;
        height: 35vh;
    }
    .PortFolioPicture {
        width: 35vw;
        height: 35vh;
    }
}

@media (min-width: 992px) {
    .MyPortFolioContener {
        flex-direction: row;
    }
    .MyPortfolioCard {
        width: 80vh;
        height: 40vh;
    } 
    .PortFolioPicture {
        width: 40vh;
        height: 40vh;
    }
}

@media (min-width: 1200px) {
    .MyPortfolioCard {
        width: 50vh;
        height: 35vh;
    }
    .PortFolioPicture {
        width: 25vh;
        height: 35vh;
    }
}

@media (min-width: 1400px) {
    .MyPortfolioCard {
        width: 26vw;
        height: 40vh;
    }
    .PortFolioPicture {
        width: 13vw;
        height: 40vh;
    }
    .FolioPadding {
        padding: 0%;
        margin: 0%;
    }
} 

/* Partie Footer */

.containerFullSocial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.containSocial {
    display: flex;
    flex-direction: column;
}

.socialNetworkLogo{
    width: 5vh;
    height: 5vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.socialNetworkText{
    display: none;
    white-space: nowrap;
}


@media (min-width: 576px) {
    .socialNetworkText {
        font-size: 1.0rem;
    }
}

@media (min-width: 768px) {
    .socialNetworkText {
        font-size: 1.0rem;
    }
}

@media (min-width: 992px) {
    .socialNetworkText {
        font-size: 1.2rem;
        display: contents;

    }
    .containSocial {
        flex-direction: row;
        margin-left: 5vh;
        margin-right: 5vh;
    }
}

/* Partie de la signature */

.containerSign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.myLogo {
    height: 6vh;
    width: 6vh;
}

.myAlias {
    font-size: 0.8rem;
    white-space: nowrap;
}