body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

.h1 {
    font-size: 1.0rem;
}

@media (min-width: 576px) {
    .h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .h1 {
        font-size: 2.0rem;
    }
}

@media (min-width: 992px) {
    .h1 {
        font-size: 2.5rem;
    }
}

.mywallpaper{
    height: 40vh;
    padding: 0;
    object-fit:cover;
    object-position: 50% 30%;
}

.profile{
    width: 20vh;
    height: 20vh;
    margin-top: 10vh;
}

.titleProfile{
    margin-top: 13vh;
    margin-left: 25vh;
}

.bannerNetwork{
    height: 10vh;
}

.socialNetworkLogo{
    width: 6vh;
    height: 6vh;
}

.socialNetworkText{
    visibility: hidden;
}

@media (min-width: 768px) {
    .socialNetworkText {
        font-size: 1.2rem;
        visibility:visible;
    }
}

.myCard {
    width: 18rem; 
    height: 30rem;
    box-shadow: 0 0 1em black;
    position: relative;
    transition: transform 1.0s;
    transform-style: preserve-3d;
}

.myCard:hover {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

.cardBack {
    width: 100%;
    height: 30rem;

    object-fit:cover;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.imgCarousel {
    object-fit: cover;
    width: 100%;
    height: 40rem;
}

.contentCarousel {
        position: absolute;
        right: 10%;
        bottom: 6rem;
        left: 10%;
        color: #fff;
}

.contentCarouselVar {
    position: absolute;
    right: 10%;
    bottom: 0.5rem;
    left: 5%;
    color: #fff;
}

.desParcMargin {
    margin: 5vh;

}

.descProfMargin {
    margin: 3vh;
}

.descProf {
    font-size: 10px;
}

@media (min-width: 992px) {
    .descProf li h5,  .descProf li span {
        font-size: 1.0rem;
    }
}

li { 
    content:'\00b7';
    font-size: 2vh; 
}

.myCompCard {
    width: 18rem; 
    height: 30rem;
    box-shadow: 0 0 1em black;
    position: relative;
}

.myprogbar {
    border: 1px solid;
}

.iconeCompt{
    width: 5vh;
    height: 5vh;
}

.card-title {
    margin-bottom: 1rem !important;
}

.card-img-top {
    height: 25vh !important;
    width: 100%;
    object-fit: cover !important;
}