.footerMobile{
    margin-top: 1rem;
    padding: 5px 0 5px 0;
    background-color: #3d3d3d;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerDesktop{
    margin-top: 1rem;
    padding: 10px 0 10px 0;
    background-color: #3d3d3d;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerMobile a span, .footerDesktop a span {
    margin: 0 !important;
}