body {
    position: relative;
    min-height: 100vh;
    max-height: fit-content;
}

.profilePhoto {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #3d3d3d;
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 100%, 0 100%, 0 50%);
    border-top: 5px solid #f50057;
    border-bottom: 5px solid #f50057;
}

.photo {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    clip-path: polygon(40% 0, 100% 0, 100% 60%, 60% 100%, 0 100%, 0 40%);
}

.boxLeft {
    position: absolute;
    left: 32%;
    transform: translate(-32%);
    background-color: rgb(99, 99, 99);
    clip-path: polygon(0 0, 63% 0, 15% 50%, 15% 100%, 0 100%);
    border-left: 5px solid #f50057;
}

.boxRight {
    position: absolute;
    right: 32%;
    transform: translate(32%);
    background-color: rgb(99, 99, 99);
    clip-path: polygon(85% 50%, 85% 0, 100% 0, 100% 100%, 37% 100%);
    border-right: 5px solid #f50057;
}

.secondColor {
    color: #f50057;
}

.underlineText {
    text-decoration: underline;
}
